body {
      /* Asegúrate de reemplazar 'ruta/a/tu/imagen.jpg' con la ruta a tu imagen */
  background-image: url('photo.jpg');

  /* Centrar y escalar la imagen de fondo */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Ajustar el tamaño del cuerpo al tamaño de la ventana gráfica */
  height: 100vh;
  margin: 0;
  padding: 0;
  }

h1 {
    text-align: center;
    font-size: 100px;
}

.Con-2 {
    display: none;
}

canvas {
    display: block;
}
.Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.Con {
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: 15px;
}

.Texto {
    display: none;
    color: white;
    text-align: center;
}
.Texto h2 {
    font-size: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* Esto crea un borde negro alrededor del texto */
}
.Texto h3{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* Esto crea un borde negro alrededor del texto */
}
.Contenedor-Binicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.Con-Emergente{
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
}
.cua{
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 30px;
    background-color: #f9f9f9;
    border: 2px solid greenyellow;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: aparecer 0.5s ease-out;
}
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
    50% {
      opacity: 0.5;
      transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }
}

@media (max-width: 468px) {
    body {
       background: #1a0321;

    }
}

.btn-neon{
    
    position: flex;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    background-color: greenyellow;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border-color: #FF0000;
 
}
.btn-neon1{
    display: none;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 30px;
    padding: 15px 30px;
    color: black;
    background-color: white;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    border-radius: 30px;


 
}
.btn-neon:hover{
    background: #FFFF00;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.5s;
 }
 .btn-neon1:hover{
    background: #FFFF00;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.5s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
.btn-neon1 span{
    position: absolute;
    display: block;
}


#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#FF0000);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#FF0000);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FF0000);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.borrar{
    display: none;

}
@media (max-width: 890px) {


    .Contenedor {
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #Flor{ 
        margin-left: -80px;
        margin-right: auto;
        
    }
}

@media (max-width: 469px) {


    body {
        /* Asegúrate de reemplazar 'ruta/a/tu/imagen.jpg' con la ruta a tu imagen */
    background-image: url('photo.jpg');
  
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    }
    canvas{
    aspect-ratio: auto 400 / 100;
    }   

    #Flor{ 
        margin-left: -300px;
        margin-right: auto;
        
    }

    .Texto {
        color: white;
        text-align: center;
        
    }
}

